@model EDIS.Models.RepairModels.QryRepListData
@using EDIS.Models.Identity

@inject CustomUserManager UserManager
<link href="~/css/bootstrap-combobox.css" rel="stylesheet" />
<script src="~/js/bootstrap-combobox.js"></script>

<style>
    /* Style the scale of radio. */
    input[type=radio] {
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FireFox */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
    }
    /* Style the scale of checkbox. */
    input[type=checkbox] {
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FireFox */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.combobox').combobox();
        /* While loading this page, default search repairDocs. */
        $("#repSearchForm").submit();

        $("#exportExcelBtn").click(function () {
            var DocId = $("#qtyDOCID").val();
            var AssetNo = $("#qtyASSETNO").val();
            var AccDpt = $("#qtyACCDPT").val();
            var AssetName = $("#qtyASSETNAME").val();
            var FlowType = $("#qtyFLOWTYPE").val();
            var DptId = $("#qtyDPTID").val();;
            var Date1 = $("#qtyApplyDateFrom").val();
            var Date2 = $("#qtyApplyDateTo").val();
            var DealStatus = $("#qtyDealStatus").val();
            var IsCharged = $("#qtyIsCharged").val();
            var DateType = $("#qtyDateType").val();
            var SearchAllDoc = false;
            if ($("#qtySearchAllDoc").is(':checked') == true) {
                SearchAllDoc = true;
            }

            $.ajax({
                url: "@Url.Action("ExportToExcel", "Repair", new { Area = "" })",
                data: {
                    qtyDocId: DocId,
                    qtyAssetNo: AssetNo,
                    qtyAccDpt: AccDpt,
                    qtyAssetName: AssetName,
                    qtyFlowType: FlowType,
                    qtyDptId: DptId,
                    Date1: Date1,
                    Date2: Date2,
                    DealStatus: DealStatus,
                    IsCharged: IsCharged,
                    DateType: DateType,
                    SearchAllDoc: SearchAllDoc
                },
                success: function (response, textStatus, jqXHR) {

                    window.location.href = '@Url.Action("ExportToExcel", "Repair", new { Area = "" })' + '?qtyDocId=' + DocId + '&qtyAssetNo=' + AssetNo
                        + '&qtyAccDpt=' + AccDpt + '&qtyAssetName=' + AssetName + '&qtyFlowType=' + FlowType + '&qtyDptId=' + DptId
                        + '&Date1=' + Date1 + '&Date2=' + Date2 + '&DealStatus=' + DealStatus + '&IsCharged=' + IsCharged
                        + '&DateType=' + DateType + '&SearchAllDoc=' + SearchAllDoc;
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });
    });
    function ReSubmit() {
        $("#repSearchForm").submit();
        /* Refresh repair count. */
        $.ajax({
            url: '@Url.Action("GetRepairCounts", "Repair", new { Area = "" })',
            type: "GET",
            success: function (data) {
                $("#repairCount").html(data);
            }
        });
    }
</script>

<form asp-controller="Repair" asp-action="Index" asp-area="" data-ajax="true"
      data-ajax-update="#pnlREPLIST" data-ajax-method="POST" id="repSearchForm"
      data-ajax-begin="$.Toast.showToast({
      'title':'查詢中，請稍待...',
      'icon':'loading',
      'duration':0
      })"
      data-ajax-complete="$.Toast.hideToast()">

    <h4>查詢條件 - 個人案件</h4>

    <div class="container">
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="qtyDOCID" class="control-title">表單編號</label>
                    <input asp-for="qtyDOCID" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="qtyASSETNO" class="control-title">財產編號</label>
                    <input asp-for="qtyASSETNO" class="form-control-s" />
                </div>
                <div class="form-group">
                    <label for="qtyACCDPT" class="control-title">成本中心</label>
                    <select asp-for="qtyACCDPT" asp-items="@ViewData["ACCDPT"] as SelectList" class="form-control combobox">
                        <option value="">請選擇</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="qtyASSETNAME" class="control-title">物品名稱<br />(關鍵字)</label>
                    <input asp-for="qtyASSETNAME" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="qtyFLOWTYPE" class="control-title">流程狀態</label>
                    <select asp-for="qtyFLOWTYPE" asp-items="@ViewData["FLOWTYPE"] as SelectList" class="form-control-s">
                        @*<option value="">請選擇</option>*@
                    </select>
                </div>
                <div class="form-group">
                    <label for="qtyDPTID" class="control-title">申請部門</label>
                    <select asp-for="qtyDPTID" asp-items="@ViewData["APPLYDPT"] as SelectList" class="form-control combobox">
                        <option value="">請選擇</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="qtyDealStatus" class="control-title">處理狀態</label>
                    <select asp-for="qtyDealStatus" asp-items="@ViewData["DealStatus"] as SelectList" class="form-control">
                        <option value="">請選擇</option>
                    </select>
                </div>
                <label for="qtyIsCharged" class="control-title">[有][無]費用</label>
                <select asp-for="qtyIsCharged" asp-items="@ViewData["IsCharged"] as SelectList" class="form-control-s">
                    <option value="">請選擇</option>
                </select>
                @if (UserManager.IsInRole(User, "RepEngineer") == true) /* Only RepEngineer can search all engineer docs. */
                {
                    <div class="form-group">
                        <label class="control-title">查詢其他<br />工程師案件</label>
                        <input type="checkbox" asp-for="qtySearchAllDoc" style="margin: 7px 0px 0px 7px;" />
                    </div>
                }
            </div>
            </div>
            <div class="row">
                <div class=form-inline>
                    <div class="form-group">
                        <label for="qtyApplyDateFrom" class="control-title">日期查詢</label>
                        <span>
                            <select asp-for="qtyDateType" asp-items="@ViewData["DateType"] as SelectList" class="form-control-s">
                            </select>
                        </span>
                        <input asp-for="qtyApplyDateFrom" class="form-control" />
                        <span> ~ </span>
                        <input asp-for="qtyApplyDateTo" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=form-inline>
                    <div class="form-group col-md-offset-1 col-md-1">
                        <div>
                            <input id="btnQTY" type="submit" value="查詢" class="btn btn-default btn-group-justified" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="button" class="btn btn-primary" id="exportExcelBtn" value="匯出Excel" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div id="pnlREPLIST"></div>
