@model EDIS.Models.RepairModels.EngSubStaff

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EngSubStaff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EngAppUsers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EngAppUsers.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubAppUsers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubAppUsers.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EngId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
