@model IEnumerable<EDIS.Models.RepairModels.RepairListVModel>

@{
    ViewBag.Title = "列表/請修單";
}

<script type="text/javascript">
    $(function () {
        /* Shut Repairs. */
        $("#btnSHUTREP").click(function () {
            var r = confirm("確定執行關帳作業?");
            if (r == true) {
                var s = "";
                $("input[name='chkREP']:checked").each(function () {
                    s += $(this).parents("tr").children().get(2).innerText.trim();
                    s += ";";
                });
                if (s != "") {
                    $.ajax({
                        url: '../Admin/RepairShut/ShutRep',
                        data: { repairs: s },
                        type: "POST",
                        beforeSend: $.Toast.showToast({
                            'title': '作業進行中，請稍待...',
                            'icon': 'loading',
                            'duration': 0
                        }),
                        success: function (data) {
                            alert('關帳作業已完成!!');
                            $.Toast.hideToast();
                            ReSubmit();
                        },
                        error: function (msg) {
                            alert(msg);
                            $.Toast.hideToast();
                        }
                    });
                }
            }
        });

        $('input[name="chkALL"]').change(function () {
            if ($(this).prop("checked")) {
                $("input[name='chkREP']").each(function () {
                    $(this).prop("checked", true);
                });
            }
            else {
                $("input[name='chkREP']").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });
    });  
</script>

<style>
    /* Style the scale of checkbox. */
    input[type=checkbox] {
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FireFox */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
    }
</style>

@if (Model.Count() <= 0)
{
    <p class="text-danger">無任何資料!</p>
}
else
{
    <h4>選取欲關帳之請修單</h4>
    <br />
    <button class="btn btn-primary" id="btnSHUTREP">執行關帳作業</button>
    <table class="table">
        <tr>
            <th>
                @Html.CheckBox("chkALL")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccDptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetName)
            </th>
            @*<th>
                      @Html.DisplayNameFor(model => model.PlaceLoc)
                </th>*@
            <th style="width: 300px;">
                @Html.DisplayNameFor(model => model.TroubleDes)
                <br />
                @Html.DisplayNameFor(model => model.DealDes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.CheckBox("chkREP")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RepType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccDptName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetNo)
                    <br />
                    @Html.DisplayFor(modelItem => item.AssetName)
                    <br />
                </td>
                @*<td>
                          @Html.DisplayFor(modelItem => item.PlaceLoc)
                          <br />
                          @Html.DisplayFor(modelItem => item.Location1)
                          <br />
                          @Html.DisplayFor(modelItem => item.Location2)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.TroubleDes)
                    <br />
                    @Html.DisplayFor(modelItem => item.DealDes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CloseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                @*<td style="text-align:center;">
                          @Html.ActionLink("編輯", "Edit", new { id = item.TicketNo }) |
                          @Html.ActionLink("預覽", "Details", new { id=item.TicketNo })
                    </td>*@
            </tr>


        }
    </table>
}
