@model IEnumerable<EDIS.Models.RepairModels.TicketModel>

@{
    ViewBag.Title = "列表/發票";
}

<style>
    #ticketTable {
        max-height: 300px;
        overflow-y: scroll;
        display: block;
        width: 100%;
    }

        #ticketTable > tbody > tr:hover {
            background-color: blue;
        }
</style>

<script>
    $(function () {

        //Click button or the tr to show the ticket details.
        $('.btnShowDtl').click(function () {
            var ticketNo = $(this).parents('tr').children().get(2).innerText.trim();
            $.ajax({
                url: '@Url.Action("List", "TicketDtl", new { Area = "Admin" })',
                type: "GET",
                data: { id: ticketNo },
                success: function (data) {
                    $("#divTicketDtl").html(data);
                }
            });
        });
        $('#ticketTable tbody tr').click(function () {
            var ticketNo = $(this).find('td:eq(2)').html().trim();
            $.ajax({
                url: '@Url.Action("List", "TicketDtl", new { Area = "Admin" })',
                type: "GET",
                data: { id: ticketNo },
                success: function (data) {
                    $("#divTicketDtl").html(data);
                }
            });
        });
        // Button to recount the ticket totalAmt.
        $('#btnCount').click(function () {
            var ticketNo = $('#ticketNo').html();
            if (ticketNo == '' || ticketNo == undefined) {
                alert('尚未選擇發票!');
            }
            $.ajax({
                url: '@Url.Action("RefreshCost", "Ticket", new { Area = "Admin" })',
                type: "GET",
                data: { ticketNo: ticketNo },
                success: function (data) {
                    if (data.success) {
                        $('#ticketTable tr').each(function (index) {
                            if (index != 0) {
                                var row = $(this);
                                var id = row.find('td:eq(2)').html().trim();
                                if (id == ticketNo) {
                                    row.find('td:eq(9)').html(data.data);
                                }
                            }
                        });
                    } else {
                        alert(data.error);
                    }

                }
            });
        });
        //Button to set the ticket's ApplyNo.
        $('#btnSetApplyNo').click(function () {
            var s = "";
            var checkAmt = true;
            $("input[name='chkTICKET']:checked").each(function () {
                s += $(this).parents("tr").children().get(2).innerText.trim();
                s += ";";
                var totalAmt = $(this).parents("tr").children().get(9).innerText.trim();
                if (parseInt(totalAmt) != 0) {
                    checkAmt = false;
                }
            });
            if (s != "" && checkAmt == true) {
                $.ajax({
                    url: '@Url.Action("SetApplyNo", "Ticket", new { Area = "Admin" })',
                    data: { ticketNos: s },
                    type: "POST",
                    beforeSend: $.Toast.showToast({
                        'title': '一般申請編號產生中，請稍待...',
                        'icon': 'loading',
                        'duration': 0
                    }),
                    success: function (data) {
                        alert('一般申請編號已產生!');
                        $.Toast.hideToast();
                    },
                    error: function (msg) {
                        alert(msg);
                        $.Toast.hideToast();
                    }
                });
            }
            else {
                alert('選取的發票有殘值尚未為0!');
            }
        });
        //Button to export excel.
        $('#btnExcel').click(function () {
            var s = "";
            $("input[name='chkTICKET']:checked").each(function () {
                s += $(this).parents("tr").children().get(2).innerText.trim();
                s += ";";
            });
            if (s != "") {
                $.ajax({
                    url: '@Url.Action("ExportExcel", "Ticket", new { Area = "Admin" })',
                    data: { ticketNos: s },
                    type: "GET",
                    beforeSend: $.Toast.showToast({
                        'title': 'Excel產生中，請稍待...',
                        'icon': 'loading',
                        'duration': 0
                    }),
                    success: function (data) {
                        window.location.href = '@Url.Action("ExportExcel", "Ticket", new { Area = "Admin" })' + '?ticketNos=' + s;
                        $.Toast.hideToast();
                    },
                    error: function (msg) {
                        alert(msg);
                        $.Toast.hideToast();
                    }
                });
            }
            else {
                alert("請至少選擇一張發票!")
            }
        });
        //Checkbox to check all.
        $('input[name="chkALL"]').change(function () {
            if ($(this).prop("checked")) {
                $("input[name='chkTICKET']").each(function () {
                    $(this).prop("checked", true);
                });
            }
            else {
                $("input[name='chkTICKET']").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });
    });
</script>

@if (Model.Count() <= 0)
{
    <p class="text-danger">無任何資料!</p>
}
else
{
    <div class="panel" id="pnlTicket">
        <div class="panel-body">
            <h4>發票主檔</h4>

            <div class="row">
                <div class="col-md-10">
                    <button class="btn btn-default" id="btnExcel">匯出Excel</button>
                </div>
                <div class="col-md-2 pull-right">
                    <button class="btn btn-default" id="btnCount">沖銷</button>
                    <button class="btn btn-info" id="btnSetApplyNo">產生編號</button>
                </div>
            </div>

            <table class="table table-bordered table-hover" id="ticketTable">
                <thead>
                    <tr>
                        <th>
                            @Html.CheckBox("chkALL") 全選
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StockType)
                        </th>
                        <th>
                            發票號碼
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TicDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VendorName) /
                            <br />
                            @Html.DisplayNameFor(model => model.UniteNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TradeCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalAmt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TaxAmt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Note)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ScrapValue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApplyDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CancelDate)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.CheckBox("chkTICKET")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StockType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VendorName) /
                                <br />
                                @Html.DisplayFor(modelItem => item.UniteNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TradeCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalAmt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TaxAmt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ScrapValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplyDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CancelDate)
                            </td>
                            <td style="text-align:center;">
                                <button class="btn btn-primary btnShowDtl">發票明細</button>
                                <a class="btn btn-primary" href="@Url.Action("Edit", "Ticket", new { Area = "Admin", id = item.TicketNo })">編輯</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

    <div class="panel" id="pnlTicketDtl">
        <div class="panel-body">
            <h4>發票明細</h4>
            <div id="divTicketDtl">

            </div>
        </div>
    </div>
}
