@model EDIS.Models.KeepModels.KeepModel

<h4>申請資料</h4>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccDpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccDptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cycle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cycle) @*@Html.Raw("個月")*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceLoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceLoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckerName)
        </dd>
    </dl>
</div>
