@model EDIS.Models.RepairModels.RepairModel

@{
    Layout = "~/Views/Shared/_PassedLayout.cshtml";
    ViewData["Title"] = "廢除/請修";
}

<h2>廢除</h2>

<h3>確定要廢除此請修單?</h3>
<div>
    <h4>請修</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DptId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mvpn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mvpn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccDpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccDptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TroubleDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TroubleDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="確定送出" class="btn btn-default" /> |
            @Html.ActionLink("回到案件列表", "Index", "Home","" , new { style = "color : deepskyblue" })
        </div>
    }
</div>
