@model IEnumerable<EDIS.Models.LocationModels.FloorModel>


<h2>@ViewBag.BuildingName</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create", new { Area = "Admin", BuildingId = ViewBag.BuildingId } )">新增樓層</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FloorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rtp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rtt)
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FloorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RtpName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rtt)
                </td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Edit", new { Area = "Admin", BuildingId = item.BuildingId, floorId = item.FloorId })">編輯</a>
                </td>
            </tr>
        }
    </tbody>
</table>