@model IEnumerable<EDIS.Models.KeepModels.KeepListVModel>
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using EDIS.Models.Identity

@inject CustomUserManager UserManager

@{
    Layout = null;
}

<style>
    td a {
        color: deepskyblue;
    }

    .printLink:visited {
        color: mediumpurple;
    }

    .table-striped > tbody > tr:nth-child(2n+1) > td,
    .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #337ab7;
    }
</style>

@if (Model.Count() <= 0)
{
    if (ViewData["IsDocDeleted"] != null)
    {
        <p class="text-danger">此案件已廢除!</p>
    }
    else
    {
        <p class="text-danger">無任何資料!</p>
    }
}
else
{
    <h4>您應簽核案件</h4>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.DocType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocId)<br />
                @Html.DisplayNameFor(model => model.SentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccDptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceLoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            @if (UserManager.IsInRole(User, "RepEngineer") == true)
            {
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().ArriveDate)
                </th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td width="100px">
                    @if (item.Flg == "?" && item.FlowUid == UserManager.GetCurrentUserId(User)) //流程在登入者身上
                    {
                        if (item.FlowCls == "驗收人")
                        {
                            @Html.ActionLink("結案", "Edit", "Keep", new { Area = "", id = item.DocId, page = 7 }, new { target = "_blank" })
                            @Html.Raw(" |")
                        }
                        else
                        {
                            @Html.ActionLink("處理", "Edit", "Keep", new { Area = "", id = item.DocId }, new { target = "_blank" })
                            @Html.Raw(" |")
                        }
                    }
                    else if (item.Flg == "?" && item.FlowCls.Contains("工程師") && UserManager.IsInRole(User, "RepEngineer")) //其他工程師案件
                    {
                        @Html.ActionLink("處理", "Edit", "Keep", new { Area = "", id = item.DocId }, new { target = "_blank" })
                        @Html.Raw(" |")
                    }
                    else
                    {
                        @Html.ActionLink("預覽", "Views", "Keep", new { Area = "", id = item.DocId })
                        @Html.Raw(" |")
                    }
                    @Html.ActionLink("列印", "PrintKeepDoc", "Keep", new { Area = "", DocId = item.DocId }, new { target = "_blank" })
                    @if (item.Flg == "?" && item.FlowUid == UserManager.GetCurrentUserId(User) && item.FlowCls == "申請人")
                    {
                        @Html.Raw(" |")
                        @Html.ActionLink("廢除", "Delete", "Keep", new { Area = "", id = item.DocId })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocId)<br />
                    @Html.DisplayFor(modelItem => item.SentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccDptName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetNo)<br />
                    @Html.DisplayFor(modelItem => item.AssetName)<br />
                    @Html.DisplayFor(modelItem => item.Brand)<br />
                    @Html.DisplayFor(modelItem => item.Type)<br />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceLoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Memo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @if (item.Flg != "2")
                    {
                        @Html.DisplayFor(modelItem => item.Days)
                    }
                </td>
                <td>
                    @if (item.Flg == "?" && UserManager.IsInRole(User, "RepEngineer") == true)
                    {
                        @Html.DisplayFor(modelItem => item.ArriveDate)
                    }
                </td>
            </tr>
        }

    </table>
}
