@model EDIS.Models.RepairModels.RepairDtlModel

@{
    ViewBag.Title = "Details";
}


<div>
    <h3>請修明細</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DealState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealStateTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DealDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DealDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailFactorTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCharged)
        </dt>

        <dd>
            @if (@Model.IsCharged == "N")
            {
                @Html.Raw("無")
            }
            else if (@Model.IsCharged == "Y")
            {
                @Html.Raw("有")
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @if (@Model.EndDate != null)
            {
                @Model.EndDate.Value.ToString("yyyy/MM/dd");
            }
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>

        <dd>
            @if (@Model.CloseDate != null)
            {
                @Model.CloseDate.Value.ToString("yyyy/MM/dd");
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShutDate)
        </dt>

        <dd>
            @if (@Model.ShutDate != null)
            {
                @Model.ShutDate.Value.ToString("yyyy/MM/dd");
            }
        </dd>*@

    </dl>
</div>

<div>
    @if (Model.DealState == 4)
    {
        @await Component.InvokeAsync("ScrapAssetList", new { id = Model.DocId, type = 2 })
    }
</div>