@model IEnumerable<EDIS.Models.LocationModels.BuildingModel>

@{
    Layout = "~/Views/Shared/_PassedLayout.cshtml";
    ViewData["Title"] = "Index";
}

<h2>建築一覽</h2>
<hr />
<p>
    <a class="btn btn-primary" href="@Url.Action("Create", new { Area = "Admin" })">新增建築</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuildingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rtp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rtt)
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RtpName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rtt)
                </td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Edit", new { Area = "Admin", id = item.BuildingId })">編輯</a>
                </td>
            </tr>
        }
    </tbody>
</table>
