@model IEnumerable<EDIS.Models.RepairModels.RepairListVModel>

@{
    ViewBag.Title = "列表/請修單";
}

<script type="text/javascript">
    $(function () {
        var ShutStatus = '@Html.Raw(ViewData["SHUTSTATUS"])';
        var $radios = $('input:radio[name=ShutType]');
        if (ShutStatus == "未關帳") {          
            if ($radios.is(':checked') === false) {
                $radios.filter('[value=關帳]').prop('checked', true);
                $radios.filter('[value=反關帳]').attr('disabled', true);
            }
        } else {
            if ($radios.is(':checked') === false) {
                $radios.filter('[value=反關帳]').prop('checked', true);
                $radios.filter('[value=關帳]').attr('disabled', true);
            }
        }
        /* Shut Repairs. */
        $("#btnSHUTREP").click(function () {
            url = '@Url.Action("ShutRep", "DocShut", new { Area = "Admin" })';
            var shutType = $("input[name='ShutType']:checked").val();
            var shutDate = $('#ShutDate').val();
            if (shutType != "" && shutType != null) {
                var r = confirm("確定執行【" + shutType + "】作業?");
                if (r == true) {
                    var s = "";
                    $("input[name='chkREP']:checked").each(function () {
                        s += $(this).parents("tr").children().get(2).innerText.trim();
                        s += ";";
                    });
                    if (s != "") {
                        $.ajax({
                            url: url,
                            data: { repairs: s, shutType: shutType, shutDate: shutDate },
                            type: "POST",
                            beforeSend: $.Toast.showToast({
                                'title': '作業進行中，請稍待...',
                                'icon': 'loading',
                                'duration': 0
                            }),
                            success: function (data) {
                                alert('已儲存!');
                                $.Toast.hideToast();
                                setTimeout(function () {
                                    ReSubmit();
                                }, 500);
                            },
                            error: function (msg) {
                                alert(msg);
                                $.Toast.hideToast();
                            }
                        });
                    }
                    else {
                        alert('請至少選擇一張表單');
                    }
                }
            }
            else {
                alert('尚未選擇處理方式!');
            }
        });

        $('input[name="chkALL"]').change(function () {
            if ($(this).prop("checked")) {
                $("input[name='chkREP']").each(function () {
                    $(this).prop("checked", true);
                });
            }
            else {
                $("input[name='chkREP']").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });
    });
</script>

@if (Model.Count() <= 0)
{
    <p class="text-danger">無任何資料!</p>
}
else
{
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="container">
                <div class="row form-inline" style="height:34px;">
                    <div class="panel col-md-2 radioPanel">
                        <label class="radio-inline"><input type="radio" name="ShutType" value="關帳" />關帳</label>
                        <label class="radio-inline"><input type="radio" name="ShutType" value="反關帳" />反關帳</label>
                    </div>
                    <div class="col-md-2">
                        <label for="ShutDate">關帳年月</label>
                        <input type="number" id="ShutDate" class="form-control-s" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary col-md-6" id="btnSHUTREP">儲存</button>
                    </div>
                </div>
            </div>

            <table class="table">
                <tr>
                    <th style="min-width: 80px;">
                        @Html.CheckBox("chkALL") 全選
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RepType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DocId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplyDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccDptName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AssetName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TroubleDes)
                        <br />
                        @Html.DisplayNameFor(model => model.DealDes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CloseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cost)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.CheckBox("chkREP")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RepType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplyDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccDptName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssetNo)
                            <br />
                            @Html.DisplayFor(modelItem => item.AssetName)
                            <br />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TroubleDes)
                            <br />
                            @Html.DisplayFor(modelItem => item.DealDes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CloseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                    </tr>


                }
            </table>
        </div>
    </div>

}
