@model EDIS.Models.RepairModels.AttainFileModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AttainFileModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssetNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssetNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rtp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rtp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rtt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rtt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DocType" />
        <input type="hidden" asp-for="DocId" />
        <input type="hidden" asp-for="SeqNo" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
